nav ul{
    color : white;
    border-bottom: 1px solid white;
}

nav li{
    display: inline-block;
    color: white;
    margin: 7px 1%;
   /* // text-align: center;
    //padding: 0;
    //margin: 7px 0 7px 0; */
}