<section class="home-container row">
    <div class= "col-lg-6 col-md-6 col-xs-6 col-sm-6">
     <P>
         If you are already here it means you love indian music . Welcome to this beautiful compilation of data about Indian music , instruments , musicians and songs . Feel free to showcase your talent in the fresh voices section.
     </P>
     <div class="fresh-voices-container">
         fresh-voices-section
     </div>   
     </div>
     <div class= "row music-data-container col-lg-6 col-md-6 col-xs-6 col-sm-6">
         <div class = "musicians music-data col-lg-5 col-md-5 col-xs-5 col-sm-5">
             musicians
         </div>
         <div class = "music-instruments music-data col-lg-5 col-md-5 col-xs-5 col-sm-5">
                music-instruments
         </div>
         <div class = "songs music-data col-lg-5 col-md-5 col-xs-5 col-sm-5">
             songs
         </div>
         <div class = "latest-bollywood music-data col-lg-5 col-md-5 col-xs-5 col-sm-5">
             latest bollywood
         </div>
         <div class = "latest-international music-data col-lg-5 col-md-5 col-xs-5 col-sm-5">
             latest international
         </div>
     </div>

</section>