<section class="home-container row">
    <div class="col-lg-7 col-md-7 col-xl-7 col-sm-12">
        <P class = "welcome-message" *ngIf = "showWelcomeMessage">
            If you are already here it means you love indian music . Welcome to this beautiful compilation of data about Indian music
            , instruments , musicians and songs . Feel free to showcase your talent in the fresh voices section.
        </P>
        <div class = "trends-carousal-container"  *ngIf = "!showWelcomeMessage">
            trends carousal
        </div>
        <div class="fresh-voices-container">
            fresh-voices-section
        </div>
    </div>
    <div class="row music-data-container col-lg-5 col-md-5 col-xl-5 col-sm-5">
        <a [routerLink]="['latest-trends']" class="music-data col-lg-12 col-md-12 col-xl-12 col-sm-12">
            trends
        </a>
        <a [routerLink]="['musicians-and-songs','songs']" class="home-songs-cover music-data col-lg-6 col-md-6 col-xl-6 col-sm-6">
            songs
        </a>
        <a [routerLink]="['musicians-and-songs','musicians']" class="home-musicians-cover music-data col-lg-6 col-md-6 col-xl-6 col-sm-6">
            musicians
        </a>
        <a [routerLink]="['instruments']" class="home-instruments-cover music-data col-lg-6 col-md-6 col-xl-6 col-sm-6">
            music-instruments
        </a>
        <a [routerLink]="['latest-trends']" class="international-cover music-data col-lg-6 col-md-6 col-xl-6 col-sm-6">
            international
        </a>
    </div>

</section>