.welcome-message{
    color:white;
}

.trends-carousal-container{
    width: 100%; 
    height:100px; 
    border: 1px solid white;
    margin-bottom: 10px;
    color: white;
}


//to make the home component perfect across all screens
.home-container{
    max-width: 1366px;
    margin: 10px auto;
}

.fresh-voices-container{
    border:2px solid white;
    min-height : 200px;
    color: white;
}

.music-data{
    color: white;
    min-height: 150px;
    border: 1px solid white;
}

.home-songs-cover{
    background: url('../../assets/images/songs-cover-image.jpg') right / cover no-repeat;
}

.home-musicians-cover{
    background: url('../../assets/images/musicians-cover-image.jpg') right / cover no-repeat; 
}

.home-instruments-cover{
    background: url('../../assets/images/app-background.jpg') right / cover no-repeat;  
}
.international-cover{
    background: url('../../assets/images/international-music-cover.jpg') right / cover no-repeat; 
}

//for mobile views
@media only screen and (max-width: 767px) {
  .music-data-container{
      display: none;
  }
}


